<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Brinquedos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            margin-top: 50px;
        }
        .btn-custom {
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="text-center">Lista de Brinquedos</h1>

    <!-- Botão de Sair -->
    <div class="text-right">
        <button class="btn btn-danger btn-custom" onclick="window.location.href='/login'">Sair</button>
    </div>

    <!-- Botão para adicionar um novo brinquedo -->
    <a href="/brinquedos/adicionar" class="btn btn-primary mb-3">Adicionar Novo Brinquedo</a>

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Nome</th>
            <th>Tipo</th>
            <th>Classificação</th>
            <th>Tamanho</th>
            <th>Preço</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="brinquedo : ${brinquedos}">
            <td th:text="${brinquedo.nome}"></td>
            <td th:text="${brinquedo.tipo}"></td>
            <td th:text="${brinquedo.classificacao}"></td>
            <td th:text="${brinquedo.tamanho}"></td>
            <td th:text="${brinquedo.preco}"></td>
            <td>
                <a th:href="@{/brinquedos/{id}(id=${brinquedo.id})}" class="btn btn-info btn-sm">Detalhes</a>
                <a th:href="@{/brinquedos/atualizar/{id}(id=${brinquedo.id})}" class="btn btn-warning btn-sm">Atualizar</a>
                <a th:href="@{/brinquedos/excluir/{id}(id=${brinquedo.id})}" class="btn btn-danger btn-sm">Excluir</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
