<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <div class="alert alert-success text-center" style="margin-top: 100px;">
        <h4>Registration Successful!</h4>
        <p>You can now <a th:href="@{/login}">login</a> with your new account.</p>
    </div>
</div>

</body>
</html>
